<launch>

        <!--  ************** Global Parameters ***************  -->
        <!--param name="/use_sim_time" value="true"/-->

        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find teb_local_planner_husky)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find teb_local_planner_husky)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find teb_local_planner_husky)/cfg/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find teb_local_planner_husky)/cfg/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find teb_local_planner_husky)/cfg/teb_local_planner_params.yaml" command="load" />
		<!-- Here we load our costmap conversion settings -->
		<rosparam file="$(find teb_local_planner_husky)/cfg/costmap_converter_params.yaml" command="load" /> 

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="15.0" />
		<param name="controller_patience" value="15.0" />
                <remap from="cmd_vel" to="autonomy/cmd_vel" />
	</node>

</launch>
